{
    "version": "2017-02-28",
    "operation": "PutItem",
    "key": {
        "room": {
            "S": "${context.arguments.room}"
        }
    },
    "attributeValues": {
        "owner": { "S" : "${context.identity.sub}" }
        "visibility": { "S" : "${context.arguments.visibility}" }
    }
}